<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>home</title>
</head>

    <header class="header" >
        <ul>
          <li><a style="font-size:20px ;color: rgb(41, 248, 22); line-height: 2em;" href="home.ejs">Home</a></li>
          <li><a style="font-size:20px ;color: rgb(225, 255, 0); line-height: 2em;" href="ourservice.ejs">Our Services </a></li>
          <li><a style="font-size:20px ;color: rgb(255, 0, 0); line-height: 2em;" href="contactus.ejs"> Contact Us</a></li>
        </ul>
      </header>
      <iframe 

    title="Inline Frame Example"
    width="650"
    height="500"
    src="https://www.openstreetmap.org/export/embed.html?bbox=-0.004017949104309083%2C51.47612752641776%2C0.00030577182769775396%2C51.478569861898606&layer=mapnik">
</iframe>
<h1 class="fermer">
  desole ce pas le temps de travaille (lundi de jeudi, a 9 de 17)
</h1>

    <div className="footer">
      <h4 style="text-align:right; font-size: 24px; color: rgb(241, 42, 158);"> © Copyright 2022 © Created By MANOUBIOVIC </h4>
    </div>
</body>
</html>